# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Environment variables
.env
backend/.env

# Database
*.db
backend/history.db

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/

# Vite
dist/

# VS Code
.vscode/

# Python cache
.pytest_cache/
